div.svelte-slgg7b{height:2.5rem;margin-left:auto;margin-right:auto;width:100%;background-position:50%;background-size:contain;background-repeat:no-repeat;filter:grayscale(1);mix-blend-mode:multiply}.awards.svelte-slgg7b:first-child{background-position:0}.awards.svelte-slgg7b:last-child{background-position:100%}
.svelte-1lk48pw{word-break:normal}
